.block-contact-block {
    padding-bottom: 3em;
    text-transform: uppercase;
}

.block-contact-block h2 {
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-weight: 800;
    font-size: 2.8em;
}

.block-contact-block .byline {
    display: block;
    margin: 0.50em 0 0 0;
    padding: 0 0 0.5em 0;
    letter-spacing: 1px;
    font-size: 1.3em;
    font-weight: 300;
}

.block-contact-block .form-item {
    margin-bottom: 2em;
    margin-top: 1em;
}

.block-contact-block .form-item input {
    margin-top: 1em;
}


.block-page-title-block {
    padding-bottom: 3em;
    text-transform: uppercase;
}

.block-page-title-block h1,
.block-page-title-block h1 span {
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-weight: 800;
    font-size: 1.8em;
}

.block-page-title-block .byline {
    display: block;
    margin: 0.50em 0 0 0;
    padding: 0 0 0.5em 0;
    letter-spacing: 1px;
    font-size: 1.3em;
    font-weight: 300;
}
